<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="APM_Spravka.Properties.Settings.nzzGtRxVKLConnectionString"
            connectionString="User Id=nzzGtRxVKL;Password=OCqp3u3YNf;Host=remotemysql.com;Database=nzzGtRxVKL;Persist Security Info=True"
            providerName="Devart.Data.MySql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>